<footer>
<div class="footerDiv">
    <ul class="footerUL">
        <li class="footerLI">Copyright 2020 DOKRAM s.r.o.</li>
        <li class="footerLI">Careers</li>
        <li class="footerLI">Privacy</li>
        <li class="footerLI">Contact</li>
    </ul>
</div>
</footer>

</body>
</html>