<%- include('partials/header'); -%>

<form  class="loginForm">
  <h2 class="Loginh2">Forgot your password</h2>

  <div id="emailDiv">
        <label for="email">Please enter your email address below so we can send you a link to reset your password.l</label>
          <input type="email" name="email"  />
        <div class="email error">

        </div>
      <div class="password error"></div>
        <input type="submit" name="" class="loginBtn" id="sendEmail" value="Send" >  
    </div>


  </form>
  <input type="hidden" value="" id="emailInput" />
  <div class="codeMainDiv"> 
     <div id="codeDiv" style="display:none" > 
        <div>  
          
          <input type="text" name="code" placeholder="enter the code"  />
        </div>
        <div>
          <input type="button"  class="loginBtn" id="sendCode" name="code" value="send" onclick="SentOTP()" >  
        </div>
    </div>
 
    <div id="codeError">

    </div>
    </div>

    <%- include('partials/footer'); -%>
<script>


  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  let emailDiv = document.getElementById('emailDiv')
  let codeDiv = document.getElementById('codeDiv')
  let codeError = document.getElementById('codeError')
  let emailInput = document.getElementById('emailInput')
  
  const sendCodeBtn = document.getElementById('sendCode')
  
async function SentOTP(){
    const code = document.querySelector('input[name="code"]').value;
    const email = emailInput.value
    console.log(code)
    console.log(emailInput.value)
 
    try {
      const res = await fetch('/verifyOTP', { 
        method: 'POST', 
        body: JSON.stringify({ email,code}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      if (data.msg ==='Verify Successfully!')
      {location.assign('/resetPassword');}
      else{
        codeError.textContent = 'Invalid Code Amigo'; 
        setTimeout(()=> location.assign('/fpassword'),1500)
       
      }
    }catch(err){
      console.log(err)
    }
  }

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    
    const email = form.email.value;
    emailError.textContent = '';

    try {
      const res = await fetch('/fpassword', { 
        method: 'POST', 
        body: JSON.stringify({ email}),
        headers: {'Content-Type': 'application/json'}
        
      });
        
        const data = await res.json();

        if (data.status) {emailDiv.style = "display:none";codeDiv.style="display:flex";  emailInput.value=form.email.value}
        

      if (data.error) {
        emailError.textContent = 'email is not registered';
          }
    
         
  }
    catch (err) {
      console.log(err);
    }
  });
</script>