<%- include('partials/header'); -%>
<div class="non-clickable">
<header>
  <div class="smoothie">
    <img src="/girl.jpg" alt="">
  </div>
  <div class="headings">
    <h2 class="h2Master">Master any language</h2>
    <h4 class="h4Master">Connect with language learners and teachers from around the world
    </h4>
    <a href="/smoothies" class="btn"><div class="btnStart">Start here </div>  </a>
 
    <div class="languageArray">

    <div class="flags">
      <div class="flag">
        <img src="/en.png" alt="">
      </div>
      <div class="flagText">
        <div class="language">
            English
        </div>
        <div class="numberOfTeachers">
          10
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="flag">
        <img src="/de.png" alt="" >
      </div>
      <div class="flagText">
        <div class="language">
            German
        </div>
        <div class="numberOfTeachers">
          5
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="flag">
        <img src="/es.png" alt="" >
      </div>
      <div class="flagText">
        <div class="language">
            Spanish
        </div>
        <div class="numberOfTeachers">
          12
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="flag">
        <img src="/pt.png" alt="" >
      </div>
      <div class="flagText">
        <div class="language">
            Portuguese
        </div>
        <div class="numberOfTeachers">
          8
        </div>
      </div>
    </div>

    <div class="flags">
      <div class="flag">
        <img src="/it.png" alt="" >
      </div>
      <div class="flagText">
        <div class="language">
            Italian
        </div>
        <div class="numberOfTeachers">
          3
        </div>
      </div>
    </div>
  
  
  
  </div>


  <div class="homeTeachers">

    <div class="teacherBox">
       <div class="teacherImage">
          <img src="/nena.jpg" class="child" alt="">
        </div>
        <div class="teacherName">
          Jose
        </div>
        <div class="teacherLanguage">
          English
        </div>
        <div class="teacherPrice">
          USD 5.50
        </div>
      </div>
    

    <div class="teacherBox">
      <div class="teacherImage">
         <img src="/man1.jpg" class="child" alt="">
       </div>
       <div class="teacherName">
         John
       </div>
       <div class="teacherLanguage">
         English
       </div>
       <div class="teacherPrice">
         USD 6.50
       </div>
     </div>


   <div class="teacherBox">
    <div class="teacherImage">
       <img src="/woman.jpg" class="child" alt="">
     </div>
     <div class="teacherName">
       Carmen
     </div>
     <div class="teacherLanguage">
       Spanish
     </div>
     <div class="teacherPrice">
       USD 8.50
     </div>
   </div>


 <div class="teacherBox">
  <div class="teacherImage">
     <img src="/woman2.jpg" class="child" alt="">
   </div>
   <div class="teacherName">
     Adele
   </div>
   <div class="teacherLanguage">
     Portuguese
   </div>
   <div class="teacherPrice">
     USD 5.50
   </div>
 </div>


 <div class="teacherBox">
  <div class="teacherImage">
     <img src="/bman.jpg" class="child" alt="">
   </div>
   <div class="teacherName">
     Adele
   </div>
   <div class="teacherLanguage">
     Portuguese
   </div>
   <div class="teacherPrice">
     USD 5.50
   </div>
 </div>

 <div class="teacherBox">
  <div class="teacherImage">
     <img src="/german.jpg" class="child" alt="">
   </div>
   <div class="teacherName">
     Inge
   </div>
   <div class="teacherLanguage">
     Portuguese
   </div>
   <div class="teacherPrice">
     USD 5.50
   </div>
 </div>
 
</div>
 
</div>
</header>
</div>
<script>



</script>

<%- include('partials/footer'); -%>