<%- include('partials/header'); -%>
<form action="/signup" class="loginForm">
  <h2 class="Loginh2">ENTER NEW PASSWORD</h2>
  <input type="hidden" name="_id" value="<%=user._id%>">

  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" required />
  <div class="confirmPassword error"></div>
  
  <input type="submit" name="" class="loginBtn" id="" value="SAVE">  



</form>

<%- include('partials/footer'); -%>
<script>
  

    const form = document.querySelector('form');
    const _id = form._id.value;
   
    const passwordError = document.querySelector('.password.error')
    const confirmPasswordError = document.querySelector('.confirmpassword.error');
  ;
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
 
      passwordError.textContent = '';
      confirmPasswordError.textContent = '';
  
      const password = form.elements.password.value;
      const confirmNewPassword = form.elements.confirmPassword.value;
      
  
  
      
      if (password!==confirmNewPassword) {confirmPasswordError.textContent = 'Passwords do not match'} 
           else {
      try {
        const res = await fetch('/resetPassword', { 
          method: 'POST', 
          body: JSON.stringify({ _id,password}),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
       console.log(data);
        if (data.errors) {
           passwordError.textContent = data.errors.password
        }
        else {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    }
    });
  </script>